BQM_COLLECTOR_URL=http://raspberrypi.local:8000
BQM_RACK_NAME=Eco-worthy Rack
BQM_RACK_BUILDER=Tran Thanh Tuan
BQM_RACK_LOCATION=Battery room
BQM_COLLECTOR_NAME=Raspberry Pi collector
BQM_BATTERY_IDS=rack-1,rack-2,rack-3
BQM_BATTERY_ADDRESSES=1,2,3
BQM_BATTERY_NAMES=Rack Battery 1,Rack Battery 2,Rack Battery 3
BQM_BATTERY_IPS=,,
BQM_BATTERY_MODELS=Eco-worthy server rack battery,Eco-worthy server rack battery,Eco-worthy server rack battery
